# Ambienti virtuali
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribuzione / packaging
dist/
build/
*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Test e coverage
.pytest_cache/
htmlcov/
.coverage

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Dati e modelli salvati 
# *.csv
# *.npy
# *.npz
# *.pkl
# *.h5
